@page "/"
@using System.Globalization

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h5" Color="Color.Primary">Home</MudText>
<br/>

<MudGrid>

    @foreach (var stat in Statistics)
    {
        <MudItem xs="3">
            <MudCard Class="d-flex mud-width-full py-3">
                <MudCardContent>
                    <div style="display: flex; align-items: center; align-content: flex-start">

                        @if (stat is null)
                        {
                            <MudProgressCircular Color="Color.Default" Indeterminate="true" Style="margin: 0 auto"/>
                        }
                        else
                        {
                            <MudIcon Icon="@stat.Icon" Color="@stat.IconColor" Size="Size.Large"
                                     Style="font-size: 48px; margin-right: 16px;"/>

                            <div>
                                <MudText Typo="Typo.subtitle1" Color="Color.Default">@stat.Title</MudText>
                                <MudText Typo="Typo.h5">@stat.Value</MudText>
                            </div>
                        }
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>
    }
</MudGrid>


<MudGrid Class="mt-2">

    <!-- Statistics Panel -->
    <MudItem xs="6">
        <MudPaper Elevation="1" Class="pa-4">
            <MudText Typo="Typo.h6">Statistics</MudText>

            <MudGrid Class="mt-4" GutterSize="16px">
                <StatisticItem Icon="@Icons.Material.Outlined.Shield" Title="Guilds" Value="1"
                               AvatarColor="Color.Primary"/>
                <StatisticItem Icon="@Icons.Material.Outlined.House" Title="Houses" Value="1239"
                               AvatarColor="Color.Info"/>
                <StatisticItem Icon="@Icons.Material.Outlined.Key" Title="Accounts" Value="5"
                               AvatarColor="Color.Success"/>
                <StatisticItem Icon="@Icons.Material.Outlined.Person" Title="Players" Value="5"
                               AvatarColor="Color.Success"/>

                <StatisticItem Icon="@Icons.Material.Outlined.Person" Title="Sorcerer" Value="7"
                               AvatarColor="Color.Success"/>
                <StatisticItem Icon="@Icons.Material.Outlined.Person" Title="Druid" Value="1"
                               AvatarColor="Color.Success"/>
                <StatisticItem Icon="@Icons.Material.Outlined.Person" Title="Knight" Value="2"
                               AvatarColor="Color.Success"/>
                <StatisticItem Icon="@Icons.Material.Outlined.Person" Title="Paladin" Value="2"
                               AvatarColor="Color.Success"/>
            </MudGrid>

            <MudText Typo="Typo.subtitle2" Class="mt-6">Today's boosted</MudText>

            <MudGrid Class="mt-2">
                <MudItem xs="12" sm="6">
                    <MudPaper Class="pa-4" Style="background-color:#7b61ff; color:white; border-radius:10px;">
                        <MudText>Creature</MudText>
                        <MudText Typo="Typo.subtitle1">Minotaur Hunter</MudText>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudPaper Class="pa-4" Style="background-color:#7b61ff; color:white; border-radius:10px;">
                        <MudText>Boss</MudText>
                        <MudText Typo="Typo.subtitle1">Soul of Dragonking Zyrtarch</MudText>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudItem>

    <!-- Donations Chart Panel -->
    <MudItem xs="12" md="6">
        <MudPaper Elevation="1" Class="pa-6">
            <MudText Typo="Typo.h6">Donates</MudText>

            <MudChart Class="mt-4"
                      ChartType="ChartType.Line"
                      Labels="@Labels"
                      Datasets="@Datasets"/>

            <MudLegend Class="mt-4">
                <MudLegendItem Color="Color.Primary" Text="Paid"/>
                <MudLegendItem Color="Color.Error" Text="Canceled"/>
            </MudLegend>
        </MudPaper>
    </MudItem>

</MudGrid>

@code {

    private List<Statistic> Statistics { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Statistics = Enumerable.Repeat<Statistic>(null, 4).ToList();
        await LoadStatisticsAsync();
    }


    private async Task LoadStatisticsAsync()
    {
        Statistics[0] = new Statistic { Icon = Icons.Material.Filled.People, Title = "Players Online", Value = 158, IconColor = Color.Primary };
        Statistics[1] = new Statistic { Icon = Icons.Material.Filled.BugReport, Title = "Active Bug Reports", Value = 5, IconColor = Color.Error };
        Statistics[2] = new Statistic { Icon = Icons.Material.Filled.Cancel, Title = "Bans Today", Value = 8, IconColor = Color.Warning };
        Statistics[3] = new Statistic { Icon = Icons.Material.Filled.ArrowUpward, Title = "Record Online Today", Value = 200, IconColor = Color.Success };
    }

    public class Statistic
    {
        public string Icon { get; set; }
        public Color IconColor { get; set; }
        public string Title { get; set; }
        public int Value { get; set; }
    }

    readonly string[] Labels = CultureInfo.CurrentCulture.DateTimeFormat.MonthNames[..12];

    readonly ChartSeries[] Datasets = new[]
    {
        new ChartSeries { Name = "Paid", Data = new[] { 1.2, 1.0, 0.8, 0.5, 1.5, 2.0, 1.7, 1.8, 0.9, 0.5, 0.2, 0.1 } },
        new ChartSeries { Name = "Canceled", Data = new[] { 0.2, 0.4, 0.3, 0.6, 0.5, 0.8, 1.0, 0.3, 0.5, 0.2, 0.1, 0.0 } }
    };

}