<MudItem xs="6" sm="3">
    <div class="d-flex flex-row">
        <MudAvatar Size="Size.Large" Class="me-4" Style="@GetStyle()">
            <MudIcon Icon="@Icon" Size="Size.Medium" Color="@AvatarColor"/>
        </MudAvatar>
        <div class="my-auto">
            <div class="mb-0">@Title</div>
            <MudText Class="mb-0" Typo="Typo.subtitle1"><b>@Value</b></MudText>
        </div>
    </div>
</MudItem>

@code
{
    [Parameter] public string Title { get; set; }
    [Parameter] public int Value { get; set; }
    [Parameter] public string Icon { get; set; }
    [Parameter] public Color AvatarColor { get; set; }

    private string GetStyle()
    {
        var colorName = AvatarColor.ToString().ToLower();
        return $"background-color: rgba(var(--mud-palette-{colorName}-rgb), 0.12);";
    }
}