@page "/worlds"
<MudPaper Class="pa-6 mb-4">
    <MudGrid Spacing="3">
        <MudItem xs="12" sm="6" md="3">
            <MudTextField Label="Name" @bind-Value="NewWorld.Name" Variant="Variant.Outlined"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudTextField Label="IP Address" @bind-Value="NewWorld.IpAddress" Variant="Variant.Outlined"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="2">
            <MudTextField Label="Port" @bind-Value="NewWorld.Port" Variant="Variant.Outlined"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudSelect Label="Battle-Eye" T="string" @bind-Value="NewWorld.BattleEye" Variant="Variant.Outlined">
                <MudSelectItem Value="@("Not protected by BattlEye.")">Not protected by BattlEye.</MudSelectItem>
                <MudSelectItem Value=@("Protected by BattlEye.")>Protected by BattlEye.</MudSelectItem>
            </MudSelect>
        </MudItem>

        <MudItem xs="12" sm="6" md="2">
            <MudSelect Label="Location" T="string" @bind-Value="NewWorld.Location" Variant="Variant.Outlined">
                <MudSelectItem Value=@("South America")>South America</MudSelectItem>
                <MudSelectItem Value=@("North America")>North America</MudSelectItem>
                <MudSelectItem Value=@("Europe")>Europe</MudSelectItem>
                <MudSelectItem Value=@("All")>All</MudSelectItem>
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="6" md="2">
            <MudSelect Label="Pvp Type" T="string" @bind-Value="NewWorld.PvpType" Variant="Variant.Outlined">
                <MudSelectItem Value=@("Open PvP")>Open PvP</MudSelectItem>
                <MudSelectItem Value=@("Optional PvP")>Optional PvP</MudSelectItem>
                <MudSelectItem Value=@("Hardcore PvP")>Hardcore PvP</MudSelectItem>
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="6" md="2">
            <MudSelect Label="Premium Type" T="string" @bind-Value="NewWorld.PremiumType" Variant="Variant.Outlined">
                <MudSelectItem Value=@("free")>Free</MudSelectItem>
                <MudSelectItem Value=@("premium")>Premium</MudSelectItem>
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="6" md="2">
            <MudSelect Label="Transfer Type" T="string" @bind-Value="NewWorld.TransferType" Variant="Variant.Outlined">
                <MudSelectItem Value=@("blocked")>Blocked</MudSelectItem>
                <MudSelectItem Value=@("open")>Open</MudSelectItem>
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="6" md="2">
            <MudSelect Label="World Type" T="string" @bind-Value="NewWorld.WorldType" Variant="Variant.Outlined">
                <MudSelectItem Value=@("Regular")>Regular</MudSelectItem>
                <MudSelectItem Value=@("Experimental")>Experimental</MudSelectItem>
            </MudSelect>
        </MudItem>

        <MudItem xs="12" sm="3">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateWorld">Create World</MudButton>
        </MudItem>
    </MudGrid>
</MudPaper>


<MudPaper>
    <div Class="pa-6">
        <MudText Typo="Typo.h6">Worlds</MudText>
    </div>

    <MudTable Items="Worlds" Dense="true" Hover="true" Class="mt-2">
        <HeaderContent>
            <MudTh>Image</MudTh>
            <MudTh>IP / Port</MudTh>
            <MudTh>Location</MudTh>
            <MudTh>PvP Type</MudTh>
            <MudTh>Premium Type</MudTh>
            <MudTh>Transfer Type</MudTh>
            <MudTh>Battle-Eye</MudTh>
            <MudTh>World Type</MudTh>
            <MudTh>Action</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Name</MudTd>
            <MudTd>@context.IpAddress / @context.Port</MudTd>
            <MudTd>@context.Location</MudTd>
            <MudTd>@context.PvpType</MudTd>
            <MudTd>@context.PremiumType</MudTd>
            <MudTd>@context.TransferType</MudTd>
            <MudTd>@context.BattleEye</MudTd>
            <MudTd>@context.WorldType</MudTd>
            <MudTd>
                <MudButton Color="Color.Primary" Size="Size.Small" Class="me-2" Href="@($"worlds/{context.Id}/edit")">
                    Edit
                </MudButton>
                <MudButton Color="Color.Error" Size="Size.Small" OnClick="@(() => DeleteWorld(context))">Delete
                </MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
</MudPaper>

@code {

    public class WorldModel
    {
        public string Name { get; set; }
        public string IpAddress { get; set; } = "127.0.0.1";
        public string Port { get; set; } = "7172";
        public string Location { get; set; } = "All";
        public string PvpType { get; set; } = "Open PvP";
        public string PremiumType { get; set; } = "premium";
        public string TransferType { get; set; } = "blocked";
        public string BattleEye { get; set; } = "Not protected by BattlEye.";
        public string WorldType { get; set; } = "Regular";
        public int Id { get; set; }
    }

    private WorldModel NewWorld = new();

    private readonly List<WorldModel> Worlds = new()
    {
        new WorldModel { Id = 1, Name = "LocalHost", IpAddress = "127.0.0.1", Port = "7172", Location = "South America" },
        new WorldModel { Id = 2, Name = "Dev Test", IpAddress = "206.42.57.225", Port = "7172", Location = "South America" }
    };

    private void CreateWorld()
    {
        Worlds.Add(new WorldModel
        {
            Name = NewWorld.Name,
            IpAddress = NewWorld.IpAddress,
            Port = NewWorld.Port,
            Location = NewWorld.Location,
            PvpType = NewWorld.PvpType,
            PremiumType = NewWorld.PremiumType,
            TransferType = NewWorld.TransferType,
            BattleEye = NewWorld.BattleEye,
            WorldType = NewWorld.WorldType
        });

        NewWorld = new WorldModel(); // Reset form
    }

    private void DeleteWorld(WorldModel world)
    {
        Worlds.Remove(world);
    }

}
