@page "/accounts"

<MudPaper Class="mx-auto mt-4" Elevation="2">
    <div class="pa-4">
        <MudText Typo="Typo.h6">Accounts</MudText>
        <MudText Typo="Typo.subtitle2" Color="Color.Secondary">List of all created accounts</MudText>
    </div>
    <MudTable Items="Accounts" Dense="true" Hover="true" Bordered="false" Class="mt-4">
        <HeaderContent>
            <MudTh>#</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Page Access</MudTh>
            <MudTh>Status</MudTh>
            <MudTh align="right">Action</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="#">@context.Id</MudTd>
            <MudTd DataLabel="Name">@context.Email</MudTd>
            <MudTd DataLabel="Page Access">@context.PageAccess</MudTd>
            <MudTd DataLabel="Status">
                <MudChip T="string" Color="Color.Success" Variant="Variant.Filled" Class="mr-2">Premium Account
                </MudChip>
                <MudChip T="string" Color="Color.Warning" Variant="Variant.Outlined">Coins: @context.Coins</MudChip>
            </MudTd>
            <MudTd align="right">
                <MudIconButton Href="@($"/accounts/{context.Id}")" Icon="@Icons.Material.Filled.Visibility"
                               Color="Color.Primary"/>
            </MudTd>
        </RowTemplate>
    </MudTable>
</MudPaper>

@code {

    public class AccountModel
    {
        public int Id { get; set; }
        public string Email { get; set; }
        public int PageAccess { get; set; }
        public int Coins { get; set; }
    }

    private readonly List<AccountModel> Accounts = new()
    {
        new AccountModel { Id = 1, Email = "god@mail.com", PageAccess = 3, Coins = 2000000 },
        new AccountModel { Id = 3, Email = "autor.net@gmail.com", PageAccess = 1, Coins = 1000 },
        new AccountModel { Id = 4, Email = "autor@teste.com", PageAccess = 3, Coins = 500000 },
        new AccountModel { Id = 5, Email = "autor2@teste.com", PageAccess = 0, Coins = 0 }
    };

}